/* SortableJS option */

/* chosenClass */
.galleryWidget-sortable-chosen {
  color: #fff!important;
  background-color: #3c89ea!important;
}

/* ghostClass */
.galleryWidget-sortable-ghost {
  opacity: .5!important;
  background: #C8EBFB!important;
}


/* Hide modal button text in medium screens */
@media (max-width: 991px) {
  .cropper-btns .btn span {
    display: none;
  }
}

/*max height of edit modal*/
.files-widget .edit-modal .modal-body {
  max-height: calc(100vh - 100px);
}

.files-widget .img-container {
  max-height: calc(100vh - 150px);
}
