// variables
// --------------------------
$si-css-prefix          : si !default;
$si-style               : 400 !default;
$si-style-family        : 'Subset Iconfont' !default;

$si-display             : inline-block !default;

$si-font-display        : block !default;
$si-font-path           : "../webfonts" !default;

$si-primary-opacity     : 1 !default;
$si-secondary-opacity   : .4 !default;


$si-var-cancel: \F073A;$si-var-check: \f00c;$si-var-crop-rotate: \F0696;$si-var-format-rotate-90: \F06AA;$si-var-plus: \2b;$si-var-sync: \F04E6;$si-var-trash-can: \f2ed;$si-var-triangle-exclamation: \f071;$si-var-upload: \f093;$si-var-xmark: \f00d;

$si-icons: (
    "cancel": $si-var-cancel,
    "check": $si-var-check,
    "crop-rotate": $si-var-crop-rotate,
    "format-rotate-90": $si-var-format-rotate-90,
    "plus": $si-var-plus,
    "sync": $si-var-sync,
    "trash-can": $si-var-trash-can,
    "triangle-exclamation": $si-var-triangle-exclamation,
    "upload": $si-var-upload,
    "xmark": $si-var-xmark
);

