@import 'functions';
@import 'variables';

:root, :host {
  --#{$si-css-prefix}-font-normal: normal normal 1em/1 "#{ $si-style-family }";
}

@font-face {
  font-family: 'Subset Iconfont';
  font-weight: 400;
  font-display: $si-font-display;
  src: url('#{$si-font-path}/material-design-icons.woff2?v=edaa0b90ca9cc544609d426f2f386959') format('woff2'),
    url('#{$si-font-path}/material-design-icons.ttf?v=edaa0b90ca9cc544609d426f2f386959') format('truetype');
  
}

.#{$si-css-prefix} {
  font-family: 'Subset Iconfont';
  font-weight: 400;
}



