@import 'variables';

:root, :host {
  --#{$si-css-prefix}-font-normal: normal normal 1em/1 "#{ $si-style-family }";
}

@font-face {
  font-family: 'Subset Iconfont';
  font-weight: 400;
  font-display: $si-font-display;
  src: url('#{$si-font-path}/material-design-icons.woff2?v=89be7852913af6c3a2944800993203fb') format('woff2'),
    url('#{$si-font-path}/material-design-icons.ttf?v=89be7852913af6c3a2944800993203fb') format('truetype');
  
}

.#{$si-css-prefix} {
  font-family: 'Subset Iconfont';
  font-weight: 400;
}
