include LICENSE
include README.rst
recursive-include galleryfield/locale *
recursive-include galleryfield/static/img *
recursive-include galleryfield/static/vendor *
recursive-include galleryfield/static/js galleryfield-ui.*
recursive-include galleryfield/templates *
recursive-include docs *
