{% load static i18n %}

{# todo add undo #}
{% templatetag openbrace %}% for (var i=0, file; file=o.files[i]; i++) { %{% templatetag closebrace %}

    <tr class="template-deleted fade">

        {% templatetag openbrace %}% if (file.thumbnailUrl) { %{% templatetag closebrace %}
        <td>
            <span class="preview"
                    data-url="{% templatetag openbrace %}%=file.url%{% templatetag closebrace %}"
                    data-thumbnailUrl="{% templatetag openbrace %}%=file.thumbnailUrl%{% templatetag closebrace %}"
                    data-pk="{% templatetag openbrace %}%=file.pk%{% templatetag closebrace %}"
                    data-name="{% templatetag openbrace %}%=file.name%{% templatetag closebrace %}"
                    data-size="{% templatetag openbrace %}%=file.size%{% templatetag closebrace %}"
                    data-deleteUrl="javascript:void(0)"
            >
                <img src="{% templatetag openbrace %}%=file.thumbnailUrl%{% templatetag closebrace %}"
                     style="max-width: 30%; text-decoration: line-through" title="{% templatetag openbrace %}%=file.name%{% templatetag closebrace %}"
                     data-file_path="{% templatetag openbrace %}%=file.url%{% templatetag closebrace %}">
            </span>
        </td>
        {% templatetag openbrace %}% } %{% templatetag closebrace %}
        <td>
            <p class="name">
                    <span style="text-decoration: line-through">{% templatetag openbrace %}%=file.name%{% templatetag closebrace %}</span>
            </p>
        </td>
        <td>
                <a type="button" class="btn btn-warning fileinput-button undelete {% if uploader_disabled %} hidden disabled {% endif %}"
                        data-delete_url="javascript:void(0)"
                        href="javascript:void(0)">
                    <i class="fa fa-undo"></i>
                    <span>{% trans "Undo" %}</span>
                </a>
        </td>
    </tr>
{% templatetag openbrace %}% } %{% templatetag closebrace %}