{% extends 'base.html' %}
{% load static i18n %}
{% load thumbnail %}

{# See https://github.com/blueimp/Gallery and https://github.com/jazzband/sorl-thumbnail for details #}
{% block header %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'vendor/blueimp-gallery/css/blueimp-gallery.min.css' %}" />
<!--<script src="{% static 'vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js' %}"></script>-->
{% endblock %}

{% block content %}
<div
  id="blueimp-gallery-carousel"
  class="blueimp-gallery blueimp-gallery-controls blueimp-gallery-carousel"
  aria-label="image carousel"
>
  <div class="slides" aria-live="off"></div>
  <h3 class="title"></h3>
  <a
    class="prev"
    aria-controls="blueimp-gallery-carousel"
    aria-label="previous slide"
  ></a>
  <a
    class="next"
    aria-controls="blueimp-gallery-carousel"
    aria-label="next slide"
  ></a>
  <a
    class="play-pause"
    aria-controls="blueimp-gallery-carousel"
    aria-label="play slideshow"
    aria-pressed="true"
    role="button"
  ></a>
  <ol class="indicator"></ol>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">x</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links">
    {% for obj in object.images.objects.all %}
    <a href="{{ obj.image.url}}" data-gallery>
    {% thumbnail obj.image "200x200" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    </a>
    {% endfor %}
</div>

{% endblock %}


{% block back_staff %}
<script src="{% static 'vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js' %}"></script>
<script>
  blueimp.Gallery(document.getElementById('links').getElementsByTagName('a'), {
    container: '#blueimp-gallery-carousel',
    carousel: true
  })
</script>
{% endblock %}
