// Bordered & Pulled
// 6.7.966.7.966.7.966.7.966.7.96

.#{$mdi-css-prefix}-border {
  border: solid .08em $mdi-border-color;
  border-radius: .1em;
  padding: .2em .25em .15em;
}

.#{$mdi-css-prefix}-pull-left { float: left; }
.#{$mdi-css-prefix}-pull-right { float: right; }

.#{$mdi-css-prefix},
.fas,
.far,
.fal,
.fab {
  &.#{$mdi-css-prefix}-pull-left { margin-right: .3em; }
  &.#{$mdi-css-prefix}-pull-right { margin-left: .3em; }
}
