// Icon Sizes
// 6.7.966.7.966.7.966.7.966.7.96

// makes the font 33% larger relative to the icon container
.#{$mdi-css-prefix}-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -.0667em;
}

.#{$mdi-css-prefix}-xs {
  font-size: .75em;
}

.#{$mdi-css-prefix}-sm {
  font-size: .875em;
}

@for $i from 1 through 10 {
  .#{$mdi-css-prefix}-#{$i}x {
    font-size: $i * 1em;
  }
}
