// Stacked Icons
// 6.7.966.7.966.7.966.7.966.7.96

.#{$mdi-css-prefix}-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: ($mdi-fw-width*2);
}

.#{$mdi-css-prefix}-stack-1x,
.#{$mdi-css-prefix}-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.#{$mdi-css-prefix}-stack-1x {
  line-height: inherit;
}

.#{$mdi-css-prefix}-stack-2x {
  font-size: 2em;
}

.#{$mdi-css-prefix}-inverse {
  color: $mdi-inverse;
}
